
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-white my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-dark py-3">{{ title }}</h2>
          <div class="card" ><button (click)="signIn('Google');">Sign in with Google</button>&nbsp;
            <button (click)="signOut();">Sign out</button></div>
        </div>
      </div>
      <div *ngIf="user">
          <h4>Hello {{ user.name }} !!!</h4> <img src="{{ user.photoUrl }}">
      <ul class="text-left list-inline py-3">
          <li class="list-inline-item"><a routerLink="/addsurvey" class="btn btn-info">Respond to Invitation</a></li>
          <li class="list-inline-item"><a routerLink="/surveys" class="btn btn-info">View Responses</a></li>
        </ul>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>